### 데이터 공부, 20210209

In [1]:
import pandas as pd
import numpy as np

In [6]:
df =pd.read_csv('broadcast.csv', index_col = 0)
df

         KBS     MBC     SBS  TV CHOSUN   JTBC  Channel A    MBN
2011  35.951  18.374  11.173      9.102  7.380      3.771  2.809
2012  36.163  16.022  11.408      8.785  7.878      5.874  3.310
2013  31.989  16.778   9.673      9.026  7.810      5.350  3.825
2014  31.210  15.663   9.108      9.440  7.490      5.776  4.572
2015  27.777  16.573   9.099      9.940  7.267      6.678  5.520
2016  27.583  14.982   8.669      9.829  7.727      6.624  5.477
2017  26.890  12.465   8.661      8.886  9.453      6.056  5.215

In [18]:
bools = df["KBS"] > 30
bools

2011     True
2012     True
2013     True
2014     True
2015    False
2016    False
2017    False
Name: KBS, dtype: bool

In [19]:
df.loc[bools, "KBS"]

2011    35.951
2012    36.163
2013    31.989
2014    31.210
Name: KBS, dtype: float64

In [21]:
df.loc[df["KBS"] > 30, "KBS"]

2011    35.951
2012    36.163
2013    31.989
2014    31.210
Name: KBS, dtype: float64

In [22]:
df

         KBS     MBC     SBS  TV CHOSUN   JTBC  Channel A    MBN
2011  35.951  18.374  11.173      9.102  7.380      3.771  2.809
2012  36.163  16.022  11.408      8.785  7.878      5.874  3.310
2013  31.989  16.778   9.673      9.026  7.810      5.350  3.825
2014  31.210  15.663   9.108      9.440  7.490      5.776  4.572
2015  27.777  16.573   9.099      9.940  7.267      6.678  5.520
2016  27.583  14.982   8.669      9.829  7.727      6.624  5.477
2017  26.890  12.465   8.661      8.886  9.453      6.056  5.215

In [25]:
df.loc[df["SBS"] < df["TV CHOSUN"], ['SBS', 'TV CHOSUN']]

        SBS  TV CHOSUN
2014  9.108      9.440
2015  9.099      9.940
2016  8.669      9.829
2017  8.661      8.886

### 슬라이싱도 가능하다. iloc

In [26]:
df.iloc[2, 4]

7.81

In [27]:
df.iloc[[1,4,6],[2,5]]

         SBS  Channel A
2012  11.408      5.874
2015   9.099      6.678
2017   8.661      6.056

### 값 변경하기

In [30]:
df1 = pd.read_csv('iphone.csv', index_col = 0)
df1

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [37]:
df1.loc['iPhone 7']

출시일        2016-09-16
디스플레이             4.7
메모리               2GB
출시 버전        iOS 10.0
Face ID            No
Name: iPhone 7, dtype: object

In [40]:
df1.loc['iPhone 7', '출시일'] = '2021-02-09'
# 이렇게 변경이 가능하다.

In [41]:
df1

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2021-02-09    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

### 행, 열의 값도 변경이 가능하다.

In [58]:
df1.loc[:, '메모리'] = ['1기가', '2기가', '3기가', '4기가', '5기가', '6기가', '7기가']
df1

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2021-02-09    4.7  1기가  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  2기가  iOS 10.0      No
iPhone 8       2017-09-22    4.7  3기가  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  4기가  iOS 11.0      No
iPhone X       2017-11-03    5.8  5기가  iOS 11.1     Yes
iPhone XS      2021-02-10   10.2  6기가  iOS 12.1     Yes
iPhone XS Max  2018-09-21    6.5  7기가  iOS 12.0     Yes

In [52]:
df1.loc['iPhone XS']

출시일        2018-09-21
디스플레이             5.8
메모리               6기가
출시 버전        iOS 12.0
Face ID           Yes
Name: iPhone XS, dtype: object

In [54]:
df1.loc['iPhone XS']  = ['2021-02-10', 10.2 , '6기가', 'iOS 12.1', 'Yes']
df1

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2021-02-09    4.7  1기가  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  2기가  iOS 10.0      No
iPhone 8       2017-09-22    4.7  3기가  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  4기가  iOS 11.0      No
iPhone X       2017-11-03    5.8  5기가  iOS 11.1     Yes
iPhone XS      2021-02-10   10.2  6기가  iOS 12.1     Yes
iPhone XS Max  2018-09-21    6.5  7기가  iOS 12.0     Yes

In [65]:
df1[['출시일', '메모리']] = '변경'
df1

              출시일  디스플레이 메모리     출시 버전 Face ID
iPhone 7       변경    4.7  변경  iOS 10.0      No
iPhone 7 Plus  변경    5.5  변경  iOS 10.0      No
iPhone 8       변경    4.7  변경  iOS 11.0      No
iPhone 8 Plus  변경    5.5  변경  iOS 11.0      No
iPhone X       변경    5.8  변경  iOS 11.1     Yes
iPhone XS      변경   10.2  변경  iOS 12.1     Yes
iPhone XS Max  변경    6.5  변경  iOS 12.0     Yes

### 다시 한번 연습

In [94]:
df1 = pd.read_csv('iphone.csv', index_col = 0)
df1

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [95]:
df1["출시 버전"] == "iOS 11.0"

iPhone 7         False
iPhone 7 Plus    False
iPhone 8          True
iPhone 8 Plus     True
iPhone X         False
iPhone XS        False
iPhone XS Max    False
Name: 출시 버전, dtype: bool

In [96]:
df1.loc[df1["출시 버전"] == "iOS 11.0"]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No

### 새로운 값 입력

In [97]:
df1.loc['iPhone 7']

출시일        2016-09-16
디스플레이             4.7
메모리               2GB
출시 버전        iOS 10.0
Face ID            No
Name: iPhone 7, dtype: object

In [98]:
df1.loc[['iPhone 7', 'iPhone 8']]

                 출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7  2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No

In [99]:
df1.loc['iPhone 11'] = ['2021-02-12', 11, '11GB', 'iOS 13.0', 'Yes']
df1

                      출시일  디스플레이   메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7   2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5   3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7   2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5   3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8   3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8   4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5   4GB  iOS 12.0     Yes
iPhone 11      2021-02-12   11.0  11GB  iOS 13.0     Yes

In [100]:
df1['새로운 값'] = 'new'
df1

                      출시일  디스플레이   메모리     출시 버전 Face ID 새로운 값
iPhone 7       2016-09-16    4.7   2GB  iOS 10.0      No   new
iPhone 7 Plus  2016-09-16    5.5   3GB  iOS 10.0      No   new
iPhone 8       2017-09-22    4.7   2GB  iOS 11.0      No   new
iPhone 8 Plus  2017-09-22    5.5   3GB  iOS 11.0      No   new
iPhone X       2017-11-03    5.8   3GB  iOS 11.1     Yes   new
iPhone XS      2018-09-21    5.8   4GB  iOS 12.0     Yes   new
iPhone XS Max  2018-09-21    6.5   4GB  iOS 12.0     Yes   new
iPhone 11      2021-02-12   11.0  11GB  iOS 13.0     Yes   new

In [101]:
df1.drop('iPhone 7', axis='index', inplace=False) # False를 하게 되면 값이 변경되지 않는다

                      출시일  디스플레이   메모리     출시 버전 Face ID 새로운 값
iPhone 7 Plus  2016-09-16    5.5   3GB  iOS 10.0      No   new
iPhone 8       2017-09-22    4.7   2GB  iOS 11.0      No   new
iPhone 8 Plus  2017-09-22    5.5   3GB  iOS 11.0      No   new
iPhone X       2017-11-03    5.8   3GB  iOS 11.1     Yes   new
iPhone XS      2018-09-21    5.8   4GB  iOS 12.0     Yes   new
iPhone XS Max  2018-09-21    6.5   4GB  iOS 12.0     Yes   new
iPhone 11      2021-02-12   11.0  11GB  iOS 13.0     Yes   new

In [102]:
df1.drop('iPhone 7', axis='index', inplace=True)
df1

                      출시일  디스플레이   메모리     출시 버전 Face ID 새로운 값
iPhone 7 Plus  2016-09-16    5.5   3GB  iOS 10.0      No   new
iPhone 8       2017-09-22    4.7   2GB  iOS 11.0      No   new
iPhone 8 Plus  2017-09-22    5.5   3GB  iOS 11.0      No   new
iPhone X       2017-11-03    5.8   3GB  iOS 11.1     Yes   new
iPhone XS      2018-09-21    5.8   4GB  iOS 12.0     Yes   new
iPhone XS Max  2018-09-21    6.5   4GB  iOS 12.0     Yes   new
iPhone 11      2021-02-12   11.0  11GB  iOS 13.0     Yes   new

In [103]:
# 새로운 행을 삭제하려면,
df1.drop('새로운 값', axis = 'columns', inplace=True)

In [104]:
df1

                      출시일  디스플레이   메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5   3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7   2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5   3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8   3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8   4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5   4GB  iOS 12.0     Yes
iPhone 11      2021-02-12   11.0  11GB  iOS 13.0     Yes

### 값 변경해주기

In [185]:
df2 = pd.read_csv('body_imperial1.csv', index_col = 0)

In [186]:
df2.iloc[1, 1] = 200.000000

In [187]:
df2.drop(21, axis = 'index', inplace = True)
df2

    Height (Inch)  Weight (Pound)
ID
0       73.847017      241.893563
1       70.000000      200.000000
2       74.110105      212.740856
3       71.730978      220.042470
4       69.881796      206.349801
5       67.253016      152.212156
6       68.785081      183.927889
7       68.348516      167.971110
8       67.018950      175.929440
9       63.456494      156.399676
10      71.195382      186.604926
11      62.636675      102.853563
12      62.077832      138.691680
13      60.030434       97.687432
14      59.098250      110.529686
15      66.172652      136.777454
16      67.067155      170.867906
17      63.867992      128.475319
18      69.034243      163.852461
19      61.944246      113.649103

In [160]:
df2.loc[20] = [70.000000, 200.000000]
df2

    Height (Inch)  Weight (Pound)
ID
0       73.847017      241.893563
1       70.000000      200.000000
2       74.110105      212.740856
3       71.730978      220.042470
4       69.881796      206.349801
5       67.253016      152.212156
6       68.785081      183.927889
7       68.348516      167.971110
8       67.018950      175.929440
9       63.456494      156.399676
10      71.195382      186.604926
11      62.636675      102.853563
12      62.077832      138.691680
13      60.030434       97.687432
14      59.098250      110.529686
15      66.172652      136.777454
16      67.067155      170.867906
17      63.867992      128.475319
18      69.034243      163.852461
19      61.944246      113.649103
20      70.000000      200.000000

In [188]:
df2['Gender'] = 'Male'
df2['비만도'] = '정상'

In [200]:
df2.loc[df2.index > 10, 'Gender'] = "Female"

In [203]:
df2.loc[11:, 'Gender'] = 'Female'

In [204]:
df2

    Height (Inch)  Weight (Pound)  Gender 비만도
ID
0       73.847017      241.893563    Male  정상
1       70.000000      200.000000    Male  정상
2       74.110105      212.740856    Male  정상
3       71.730978      220.042470    Male  정상
4       69.881796      206.349801    Male  정상
5       67.253016      152.212156    Male  정상
6       68.785081      183.927889    Male  정상
7       68.348516      167.971110    Male  정상
8       67.018950      175.929440    Male  정상
9       63.456494      156.399676    Male  정상
10      71.195382      186.604926    Male  정상
11      62.636675      102.853563  Female  정상
12      62.077832      138.691680  Female  정상
13      60.030434       97.687432  Female  정상
14      59.098250      110.529686  Female  정상
15      66.172652      136.777454  Female  정상
16      67.067155      170.867906  Female  정상
17      63.867992      128.475319  Female  정상
18      69.034243      163.852461  Female  정상
19      61.944246      113.649103  Female  정상

### index/column 설정

In [205]:
df1 = pd.read_csv('iphone.csv', index_col = 0)
df1

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [207]:
df1.rename(columns = {'출시일' : '출시'})

                       출시  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [210]:
df1.index.name = '아이폰' # 인덱스 이름을 넣어줌
df1

                      출시일  디스플레이  메모리     출시 버전 Face ID
아이폰
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [224]:
df1.set_index('출시일') # inplace 를 걸어주지 않았음.

            디스플레이  메모리     출시 버전 Face ID         핸드폰 기종
출시일
2016-09-16    4.7  2GB  iOS 10.0      No       iPhone 7
2016-09-16    5.5  3GB  iOS 10.0      No  iPhone 7 Plus
2017-09-22    4.7  2GB  iOS 11.0      No       iPhone 8
2017-09-22    5.5  3GB  iOS 11.0      No  iPhone 8 Plus
2017-11-03    5.8  3GB  iOS 11.1     Yes       iPhone X
2018-09-21    5.8  4GB  iOS 12.0     Yes      iPhone XS
2018-09-21    6.5  4GB  iOS 12.0     Yes  iPhone XS Max

In [226]:
df1['핸드폰 기종'] = df1.index
df1

                      출시일  디스플레이  메모리     출시 버전 Face ID         핸드폰 기종
아이폰
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No       iPhone 7
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No  iPhone 7 Plus
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No       iPhone 8
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No  iPhone 8 Plus
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes       iPhone X
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes      iPhone XS
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes  iPhone XS Max

In [227]:
df1.set_index('출시일', inplace=True)
df1

            디스플레이  메모리     출시 버전 Face ID         핸드폰 기종
출시일
2016-09-16    4.7  2GB  iOS 10.0      No       iPhone 7
2016-09-16    5.5  3GB  iOS 10.0      No  iPhone 7 Plus
2017-09-22    4.7  2GB  iOS 11.0      No       iPhone 8
2017-09-22    5.5  3GB  iOS 11.0      No  iPhone 8 Plus
2017-11-03    5.8  3GB  iOS 11.1     Yes       iPhone X
2018-09-21    5.8  4GB  iOS 12.0     Yes      iPhone XS
2018-09-21    6.5  4GB  iOS 12.0     Yes  iPhone XS Max